body{
  background-color: rgb(132, 0, 255);
  color: rgb(219, 186, 0);
}
#wynik{
  width: 400px;
  margin-left: 33.5vw;
  margin-top: 15px;
  font-size: 20px;
  padding: 10px;
  box-sizing: border-box;
  font-size: xx-large;
  
  
}
#button{
  background-color: rgb(219, 186, 0);
  border-radius: 18px;
  width: 100px;
  height: 36px;
  color: black;
  border: none;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color 0.15s;
}
#UserInput{
  background-color: rgb(219, 186, 0);
  border-radius: 18px;
  width: 250px;
  height: 36px;
  color: black;
  border: none;
  margin-right: 8px;
  transition: background-color 0.15s;
  text-align: center;
  outline-style:none;
  margin-bottom: 5vh;
}

#center{
  margin-left: auto;
  margin-right: auto;
  width: 45vh;
  margin-top: 15vh;
  overflow: hidden;
}
h1{
  font-size: 80px;
  text-align: center;
  margin-left: -2vw;
  margin-bottom: -5vh;
}
